<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>

	<script src="js/lib/jquery/jquery-1.8.2.js" type='text/javascript'></script>
	<script src="js/lib/angular/angular.js" type='text/javascript'></script>
	<script src="js/lib/angular/angular-resource.js" type='text/javascript'></script>

	<script src="js/services/services.js" type='text/javascript'></script>
	<script src="js/services/persistence.js" type='text/javascript'></script>
	<script src="js/services/utilSvc.js" type='text/javascript'></script>
	<script src="js/services/model.js" type='text/javascript'></script>
	<script src="js/services/world.js" type='text/javascript'></script>
	<script src="js/services/view.js" type='text/javascript'></script>
	<script src="js/services/contextService.js" type='text/javascript'></script>
	<script src="js/services/view.js" type='text/javascript'></script>
	<script src="js/filters.js" type='text/javascript'></script>
	<script src="js/directives/directives.js" type='text/javascript'></script>
	<script src="js/directives/graphItem.js" type='text/javascript'></script>
	<script src="js/directives/graphRelationship.js" type='text/javascript'></script>
	<script src="js/directives/graphView.js" type='text/javascript'></script>
	<script src="js/controllers.js" type='text/javascript'></script>
	<script src="js/app.js" type='text/javascript'></script>

	<script src="http://loadr.aws.af.cm/load?packages=angular https://raw.github.com/btford/angular-dragon-drop/master/dragon-drop.js"></script>

	<style>
		.draggable {
			cursor: move;
			position: absolute;
		}
	</style>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
Mouse Position: <label id='position'></label>
<script>
	var dnd = {
		lastX: 0,
		lastY: 0,
		beforeLastX: 0,
		beforeLastY: 0,
		initX: 0,
		initY: 0,
		initTop: 0,
		initLeft: 0,

		dragStart: function (evt) {
			console.log('dragStartEvent ' +
				//'client -> x:'+evt.clientX + " y:"+evt.clientY+
					' offset   -> x:' + evt.offsetX + " y:" + evt.offsetY+
					' page   -> x:' + evt.pageX + " y:" + evt.pageY);

			var el = angular.element(evt.currentTarget);
			//store the difference in top/left and where the mouse is
			this.initX = evt.pageX;
			this.initY = evt.pageY;
			var off = el.offset();
			this.initTop = off.top;
			this.initLeft = off.left;
			console.log('dragStartEvent ' +
					'element pos -> x:' + this.initLeft + " y:" + this.initTop);

			return evt;

		},

		drag: function (evt) {
			console.log('dragEvent ' +
				//'client -> x:'+evt.clientX + " y:"+evt.clientY+
					' offset   -> x:' + evt.offsetX + " y:" + evt.offsetY+
					' screen   -> x:' + evt.screenX + " y:" + evt.screenY+
					' page   -> x:' + evt.pageX + " y:" + evt.pageY);

			this.beforeLastX = this.lastX;
			this.beforeLastY = this.lastY;

			this.lastX = evt.pageX;
			this.lastY = evt.pageY;
			return evt;
		},

		dragOver: function (evt) {

			console.log('dragOverEvent ' +
				//'client -> x:'+evt.clientX + " y:"+evt.clientY+
					' offset   -> x:' + evt.offsetX + " y:" + evt.offsetY+
					' page   -> x:' + evt.pageX + " y:" + evt.pageY);
			if(evt.preventDefault)
				evt.preventDefault();
			evt.dataTransfer.dropEffect = 'move';
			return evt;
		},

		drop: function (evt) {
			console.log('dropEvent ' +
				//'client -> x:'+evt.clientX + " y:"+evt.clientY
					' offset   -> x:' + evt.offsetX + " y:" + evt.offsetY+
					' screen   -> x:' + evt.screenX + " y:" + evt.screenY+
					' page   -> x:' + evt.pageX + " y:" + evt.pageY);
			var el = angular.element(evt.currentTarget);
			var x = (this.beforeLastX - this.initX) + this.initLeft;
			var y = (this.beforeLastY - this.initY) + this.initTop;
			console.log('dropEvent ' +
					' last -> x:'+this.beforeLastX + " y:"+this.beforeLastY+
					' new pos -> x:' + x + " y:" + y);
			el.offset({"left": evt.offsetX, "top": evt.offsetY});
			if(evt.preventDefault)
				evt.preventDefault();
			return evt;},

			dragEnd: function (evt) {
				console.log('dragEndEvent ' +
					//'client -> x:'+evt.clientX + " y:"+evt.clientY
						' offset   -> x:' + evt.offsetX + " y:" + evt.offsetY+
						' screen   -> x:' + evt.screenX + " y:" + evt.screenY+
						' page   -> x:' + evt.pageX + " y:" + evt.pageY);
				var el = angular.element(evt.currentTarget);
				var x = (this.beforeLastX - this.initX) + this.initLeft;
				var y = (this.beforeLastY - this.initY) + this.initTop;
				console.log('dropEvent ' +
						' last -> x:'+this.beforeLastX + " y:"+this.beforeLastY+
						' new pos -> x:' + x + " y:" + y);
				el.offset({"left": x, "top": y});
				if(evt.preventDefault)
					evt.preventDefault();
				return evt;
			}
	};
</script>

<div draggable='true' id='theDiv'
	 ondragstart="dnd.dragStart(event)"
	 ondrag="dnd.drag(event)"
	 ondragover="dnd.dragOver(event)"
	 ondrop="dnd.drop(event)"
	 ondragend="dnd.dragEnd(event)"
	style='position:absolute;width:100px;height:100px'
		>
	<svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
		<g class='draggable' draggable=true>

			<rect x="10" y="10" height="100" width="100"
				  style="stroke:#006600; fill: #00cc00"></rect>
			<image x="20" y="5" width="80" height="80"
				   xlink:href="http://jenkov.com/images/layout/top-bar-logo.png"/>

			<text id="svgTxt" y="100" style="stroke:#00ffff; fill: #00ffff">
				<tspan dy="25" y="50" x="15">tspan line 0</tspan>
				<tspan dy="25" y="70" x="15">tspan line 1</tspan>
			</text>
		</g>
	</svg>
</div>

<script>
	(function () {
		var dragging = false;
		var isOver = false;


		$('#theDiv').offset({'left': 0, 'top': 0 });

		$('#theDiv').mousemove(function(evt){
			var el = angular.element(evt.currentTarget);
			var off = el.offset();
			$('#svgTxt').text(off.left + ', ' + off.top);
		});

		$('body').mousemove(function(evt){
			$('#position').text(evt.pageX + ', ' + evt.pageY);
		});

	})();
</script>
</body>
</html>
