<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/world.css'/>

    <script src="js/lib/jquery/jquery-1.8.2.js" type='text/javascript'></script>
	<script src="js/lib/jquery/jquery-ui-1.9.1.custom.js" type='text/javascript'></script>
    <script src="js/lib/angular/angular.js" type='text/javascript'></script>
    <script src="js/lib/angular/angular-resource.js" type='text/javascript'></script>
    <script src="js/lib/angular-ui/angular-ui.js" type='text/javascript'></script>
    <script src="js/lib/angular/ui-bootstrap-0.6.0.js" type='text/javascript'></script>
    <script src="js/lib/d3/d3.v3.js" type='text/javascript'></script>
    <script src="js/lib/wu/wu-0.1.8.js" type='text/javascript'></script>

    <!-- The  App -->
    <script src="/js/app/services/services.js" type='text/javascript'></script>
    <script src="/js/app/services/config.js" type='text/javascript'></script>
    <script src="/js/app/services/constants.js" type='text/javascript'></script>
    <script src="/js/app/services/directory.js" type='text/javascript'></script>
    <script src="/js/app/services/persistence.js" type='text/javascript'></script>
    <script src="/js/app/services/utilSvc.js" type='text/javascript'></script>
    <script src="/js/app/services/model.js" type='text/javascript'></script>
    <script src="/js/app/services/world.js" type='text/javascript'></script>
    <script src="/js/app/services/relationship.js" type='text/javascript'></script>
    <script src="/js/app/services/view.js" type='text/javascript'></script>
    <script src="/js/app/services/contextService.js" type='text/javascript'></script>
    <script src="/js/app/services/eventProcessor.js" type='text/javascript'></script>
    <script src="/js/app/filters.js" type='text/javascript'></script>
    <script src="/js/app/directives/directives.js" type='text/javascript'></script>
    <script src="/js/app/directives/selectionList.js" type='text/javascript'></script>
    <script src="/js/app/directives/graphItem.js" type='text/javascript'></script>
    <script src="/js/app/directives/graphRelationship.js" type='text/javascript'></script>
    <script src="/js/app/directives/graphView.js" type='text/javascript'></script>
    <script src="/js/app/directives/graphViewList.js" type='text/javascript'></script>
    <script src="/js/app/directives/graphViewOptions.js" type='text/javascript'></script>
    <script src="/js/app/directives/graphWorld.js" type='text/javascript'></script>
    <script src="/js/app/controllers.js" type='text/javascript'></script>

    <script src="/js/app/viewOptionsCtrl.js" type='text/javascript'></script>
    <script src="/js/app/relationshipCtrl.js" type='text/javascript'></script>
    <script src="/js/app/itemCtrl.js" type='text/javascript'></script>
    <script src="/js/app/viewCtrl.js" type='text/javascript'></script>
    <script src="/js/app/viewListCtrl.js" type='text/javascript'></script>
    <script src="/js/app.js" type='text/javascript'></script>

	<style>
		.draggable {
			cursor: move;
			position: absolute;
		}

		.viewItem {
			background: url("/images/gold_textured_background_hd_picture_3_169654.jpg");
			background-size: cover;
			background-clip: padding-box;
			width: 410px;
			left: 150px;
			top: 200px;
		}

		.detailTable {
			border-style: groove;
			border-bottom-color: goldenrod;
			border-left-color: lightgoldenrodyellow;
			border-top-color: gold;
			border-right-color: goldenrod;
			width: 100%;
			height: 160px;

		}

		.detailHeader {
			text-align: center;
			font-size: 12px;
			font-weight: bold;
		}

		.detailName {
			font-size: 10px;
			text-align: right;
			font-weight: bold;
		}

		.detailValue {
			font-size: 10px;
			text-align: left;
			font-weight: normal;
		}

		.detailBody {
			width: 100%;
			overflow: auto;
		}

		.details {
			float: right;
			position: relative;
			left: 0px;
			top: 20px;
			width: 201px;
			height: 160px;
		}

		.summary {
			float: left;
			position: relative;
			width: 201px;
			height: 201px;
		}

        .world {
            float: left;
            position: relative;
            width: 201px;
            height: 201px;
        }


    </style>
</head>
<body ng-app="graphOmatic">



<graph-world>

</graph-world>

    </div>
</body>
</html>
