<!DOCTYPE html>
<html>
<head>
    <title></title>


</head>
<body>
<script type="text/ng-template" id="/number.html" >
    <input type="number" id="{fieldId}" ng-model="{modelValue}" >
</script>
</body>
</html>