<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel='stylesheet' href='/stylesheets/itemView.css'/>

	<script src="js/lib/jquery/jquery-1.8.2.js" type='text/javascript'></script>
	<script src="js/lib/angular/angular.js" type='text/javascript'></script>
	<script src="js/lib/angular/angular-resource.js" type='text/javascript'></script>

	<script src="js/services/services.js" type='text/javascript'></script>
	<script src="js/services/persistence.js" type='text/javascript'></script>
	<script src="js/services/utilSvc.js" type='text/javascript'></script>
	<script src="js/services/model.js" type='text/javascript'></script>
	<script src="js/services/world.js" type='text/javascript'></script>
	<script src="js/services/view.js" type='text/javascript'></script>
	<script src="js/services/contextService.js" type='text/javascript'></script>
	<script src="js/filters.js" type='text/javascript'></script>
	<script src="js/directives/directives.js" type='text/javascript'></script>
	<script src="js/directives/graphItem.js" type='text/javascript'></script>
	<script src="js/directives/graphView.js" type='text/javascript'></script>
	<script src="js/controllers.js" type='text/javascript'></script>
	<script src="js/itemCtrl.js" type='text/javascript'></script>
	<script src="js/viewCtrl.js" type='text/javascript'></script>
	<script src="js/app.js" type='text/javascript'></script>

<body ng-app="graphOmatic" >
<div ng-controller="ViewCtrl">
	<graph-view ng-model="view" ></graph-view>
</div>

</body>
</html>
