<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel='stylesheet' href='/stylesheets/itemView.css'/>

	<script src="js/lib/jquery/jquery-1.8.2.js" type='text/javascript'></script>
	<script src="js/lib/angular/angular.js" type='text/javascript'></script>
	<script src="js/lib/angular/angular-resource.js" type='text/javascript'></script>

	<script src="../public/js/app/services/services.js" type='text/javascript'></script>
	<script src="../public/js/app/services/constants.js" type='text/javascript'></script>
	<script src="../public/js/app/services/persistence.js" type='text/javascript'></script>
	<script src="../public/js/app/services/utilSvc.js" type='text/javascript'></script>
	<script src="../public/js/app/services/model.js" type='text/javascript'></script>
	<script src="../public/js/app/services/world.js" type='text/javascript'></script>
	<script src="../public/js/app/services/view.js" type='text/javascript'></script>
	<script src="../public/js/app/services/contextService.js" type='text/javascript'></script>
	<script src="../public/js/app/services/view.js" type='text/javascript'></script>
	<script src="../public/js/app/filters.js" type='text/javascript'></script>
	<script src="../public/js/app/directives/directives.js" type='text/javascript'></script>
	<script src="../public/js/app/directives/graphItem.js" type='text/javascript'></script>
	<script src="../public/js/app/directives/graphRelationship.js" type='text/javascript'></script>
	<script src="../public/js/app/controllers.js" type='text/javascript'></script>
	<script src="../public/js/app/relationshipCtrl.js" type='text/javascript'></script>
	<script src="../public/js/app/itemCtrl.js" type='text/javascript'></script>
	<script src="../public/js/app/viewCtrl.js" type='text/javascript'></script>
	<script src="js/app.js" type='text/javascript'></script>

<body ng-app="graphOmatic" >

	<p></p>
	<div ng-controller="RelationshipCtrl">
		<graph-item id='vi_vitem2' ng-model="viewItem" ></graph-item>
		<graph-item ng-model="viewItem2" ></graph-item>
		<graph-relationship to='viewItem' from='viewItem2' relationship='relationship'></graph-relationship>
	</div>

</body>
</html>
