
.world {
    position: absolute;
}


.worldNavigation{
    position: relative;
    left: 0;
    top: 20px;
    width: 900px;
    height: 200px;
    background-color: #ffffff;
    opacity: 0.6;
}

.worldViewSelection{
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;
    height: 100%;
    background: inherit;
}

.worldViewSelection select {
    width: 100px;
}

.worldItemSearch{
    min-width: 600px;
    position: absolute;
    left: 201px;
    top: 20px;
    width: 700px;
    height: 100%;
    background: inherit;
}

.worldViewSettings{
    float: left;
    position: relative;
    left: 0;
    top: 221px;
    width: 200px;
    height: 100%;
}

.worldViewList{
    left: 20px;
    top: 221px;
    width: 900px;
    height: 100%;
}
tabset.worldViewList{
    position: absolute;
    left: 20px;
    top: 201px;
    width: 900px;
    height: 100%;
}
